{
    email {$TLS_ADMIN_EMAIL:admin@example.com}
    servers {
        protocols h1 h2
    }
}

{$APP_SITE_ADDRESS::80} {
    encode gzip
    request_body {
        max_size 50MB
    }
    reverse_proxy web:8000
}
